@import "variables";

.btn-default {
  background-color: transparent;
  border: 1px solid $white;
  font-size: 20px;
  color: $white;

  &:hover, &:active, &:focus {
    background-color: transparent;
    border: 1px solid $white;
    color: $white !important;
    outline: none !important;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);

    &:focus {
      background-color: transparent;
      border: 1px solid $white;
      color: $white !important;
      outline: none !important;
      box-shadow: none;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
      text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
    }
  }
}
